---

- hosts: all
  become: yes
  tasks:
  - name: Disable firewall.
    service: name=firewalld state=stopped enabled=no

  - name: Disable SELinux
    replace:
      path: /etc/selinux/config
      regexp: 'SELINUX=enforcing'
      replace: 'SELINUX=disabled'
      backup: yes
    register: task_result

  - name: Reboot
    reboot:
      reboot_timeout: 60

  - name: Install ZFSOnLinux Repo
    yum:
      name: "http://download.zfsonlinux.org/epel/zfs-release.el7_8.noarch.rpm"
      state: present

  - name: Install ZFS
    yum:
      name:
      - kernel-devel
      - zfs
      state: latest
